.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: #ff0000;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.ex-2-square:active{
    width: 100%;

}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 0%;
    transition: border-radius 2s;
}
.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 2s;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: width 1s , height 1s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 40px;
    height: 40px;
}


.ex-6-img {
    width: 500px;
}

.ex-6-img:hover{
filter: grayscale(1);
}

.ex-7-img {
width: 500px;
transition: filter 2s;
}

.ex-7-img:hover{
 filter: grayscale(1) blur(5px);
}

.ex-8-img{
    width: 500px;
    border-radius: 0;
    transition: border-radius 2s , filter 2s;
}

.ex-8-img:hover{
    border-radius: 10px;
    filter:drop-shadow(10px 10px 20px #000) brightness(200%);
}


.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: border-radius 2s , filter 2s , transform 2s ;

}

.ex-9-img:hover{
    border-radius: 10px;
    filter:drop-shadow(10px 10px 20px #000) brightness(200%);
    transform: scale(80%);

}


.ex-10-icon {
    font-size: 60px;
    animation: loading 1s linear infinite;

}

@keyframes loading{
    0%{
        transform: rotate(1turn);
    }
   
}

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover{
    animation: fake-loading 1s linear ;
}


@keyframes fake-loading{
    0%{
        transform: rotate(0.25 turn);
    }
    25%{
        transform: rotate(0.50turn);
    }
    50%{
        transform: rotate(0.75turn);
    }
    100%{
        transform: rotate(0);
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    animation: head-white 2s linear infinite;

}

@keyframes head-white{
    0% {
        position: absolute;
        left:0%;
        top:-10px };
    50%{
        position:absolute;
        left:50%;
        top:-10px;
    }    

    100% {position:absolute;
        left:70%;
        top:-10px;
    };
}

.ex-12-bottom-white  {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    animation: bottom-white 2s linear infinite;
}

@keyframes bottom-white{
    0% {
        position: absolute;
        right:0%;
        bottom:-10px };
    50%{
        position:absolute;
        right:50%;
        bottom:-10px;
    }    

    100% {position:absolute;
        right:70%;
        bottom:-10px;
    };
}

.ex-13-top-white{
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 30px;
    height: 20px;
    animation: top-circle 2s linear infinite;
   

}

@keyframes top-circle{
    0%{
        position: absolute;
        left:0%;
        top:-10px
    }
    50%{
        position: absolute;
        left: calc(100% - 30px);
        top:-10px;
    }

    100%{
        position: absolute;
        left: calc(100% - 10px);
        top:100%;
    }
}


.ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 30px;
    height: 20px;
    animation:bottom-circle 2s linear infinite;
}

@keyframes bottom-circle{
    0%{
        position: absolute;
        right:0%;
        bottom:-10px
    }
    50%{
        position: absolute;
        right: calc(100% - 30px);
        bottom:-10px;
    }
    
    100%{
        position: absolute;
        right: calc(100% - 10px);
        bottom:100%;
        
    }
}

